* {
  margin-top: 0;
  margin-left: 0;
}

div {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}

#pretext {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  background-color: #3f2aff;
  color: #fff;
}

html {
  box-sizing: border-box;
  margin: 5px;
  /* Для удобства чтения на телефоне (отступ от края экрана) */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*a {
  color: inherit;
  text-decoration: none;
}*/

body {
  font-family: Arial, Verdana, sans-serif;
}

#logo,
#uLogo {
  display: block;
  margin-bottom: 50px;
}

.uLogo {
  display: inline-block;
  padding: 24px 49px;
  font-size: 18;
  font-weight: 700;
  background-size: 80px 200 px;
  background-color: #3f2aff;
}

#download {
  font-size: 18;
  font-weight: 700;
  color: #3f2aff;
  padding-left: 20px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.bigger-img,
.smaller-img {
  max-width: 100%;
  max-height: 50%;
  margin: 0 0 40px 0;
}

#FigImg1,
#FigImg4 {
  margin-bottom: 0;
}

figure {
  font-size: 0;
  display: inline-block;
  margin: 0 0 40px 0;
  padding: 0.5% 1.5%;
}

figcaption {
  font-size: 14px;
  font-weight: 400;
  padding: 19 auto;
  border: #b6b6b6 1px solid;
  border-top: 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  /* Вместо 80px, для мобильного экрана */
  width: 100%;
  /* Вместо 1170px, для мобильного экрана */
}

h1 {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: #333;
}

h2 {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

::marker {
  color: blue;
  font-size: 1.2em;
}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.content {
  border-radius: 20px;
  padding: 30px;
  padding-right: 280px;
  background: right center / contain no-repeat;
  background-color: #f3f3f3b5;
  margin-bottom: 40px;
}

.list-item {
  margin-left: 15px;
  margin-bottom: 20px;

}

.list-ink {
  border-bottom: #3f2aff 1px solid;
  font-size: 20px;
  color: #3f2aff;
}

.end p {
  margin-bottom: 0;
}

.end {
  border-radius: 20px;
  padding: 30px;
  padding-right: 280px;
  background: right center / contain no-repeat;
  background-color: #f3f3f3b5;
  margin-bottom: 40px;  /* Т. к. последний абзац - кнопка "Назад" */
}

.note1 {
  background-image: url(../img/decorate-1.png);
}

.note2 {
  background-image: url(../img/decorate-2.png);
}